.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
