.user {
  margin: 10px;
  width: calc(100% / 3 - 20px);
}

.userImg {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.user-info {
  padding: 6px;
  display: flex;
  flex-direction: column;
  border: solid 1px #ddd;
  border-top: none;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 12px;
}
