.chip {
  padding: 3px 7px 3px 8px;
  border-radius: 50px;
  background: rgba(211, 211, 211, 0.603);
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  letter-spacing: 0.02rem;
  user-select: none;
}

.chip:active,
.chip:active i {
  transform: scale(0.98);
}

.chip.outlined {
  background-color: #fff;
  border: solid 2px rgba(211, 211, 211, 0.603);
}

.chip i {
  margin-left: 8px;
  font-size: 20px;
  color: rgba(169, 169, 169, 0.575);
}
